<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/rocket-logo.ico') }}" type="image/x-icon">
</head>
<body>
    <div id="main">
        <div id="main-left">
            <div id="views-menu" class="simple-menu">
                <div class="menu-option" id="stage-planning">
                    <h3>Planificación de etapas</h3>
                </div>
                <div class="menu-option" id="vehicle-design">
                    <h3>Diseño del vehículo</h3>
                </div>
                <div class="menu-option" id="employee-recruitment">
                    <h3>Contratación de empleados</h3>
                </div>
                <div class="menu-option" id="agency-administration">
                    <h3>Administración de la agencia</h3>
                </div>
                <div class="menu-option" id="competencies-alliances">
                    <h3>Competencias / alianzas</h3>
                </div>
                <div class="menu-option" id="mission-tracking">
                    <h3>Seguimiento de misiones</h3>
                </div>
            </div>
            <div id="views">
                <div id="view-vehicle-design">
                    <div id="view-vehicle-design-menu">
                        <div class="design-menu-cathegory">
                            <p>Cápsulas</p>
                        </div>
                        <div class="design-menu-cathegory">
                            <p>Tanques</p>
                        </div>
                        <div class="design-menu-cathegory">
                            <p>Motores</p>
                        </div>
                    </div>
                    <div id="view-vehicle-design-stock">
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/COPT-I.jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>COPT-I</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/COPT-II.jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>COPT-II</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/Engine P-1.jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>Engine P-1</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/Engine RFP.jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>Engine RFP</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/PROBE-I.jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>PROBE-I</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/Tank (L).jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>Tank (L)</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/Tank (M).jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>Tank (M)</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                        <div class="stock-item">
                            <div class="stock-item-img">
                                <img src="{{ url_for('static', filename='assets/Tank (S).jpg') }}" alt="">
                            </div>
                            <div class="stock-item-name">
                                <p>Tank (S)</p>
                            </div>
                            <div class="stock-item-details">
                                <input type="button" value="Detalles" onclick="alert('Aquí se programa alguna función para mostrar los detalles')">
                            </div>
                        </div>
                    </div>
                    <div id="view-vehicle-design-editor">
                        <div id="view-vehicle-design-editor-bg">
                            <img src="{{ url_for('static', filename='assets/rocket_blueprint.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="views-actions"></div>
        </div>
        <div id="main-right">
            <div id="finances">
                <div class="stat-resource" id="current-capital">
                    <p>0§</p>
                </div>
                <div class="stat-resource" id="hourly-profits">
                    <p>0§/h</p>
                </div>
                <div class="stat-resource" id="hourly-losses">
                    <p>0§/h</p>
                </div>
                <div class="stat-resource" id="shares">
                    <p>0§</p>
                </div>
            </div>
            <div id="misions-filter"></div>
            <div id="misions-list"></div>
            <div id="notifications"></div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>