body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
}

#main {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100vh;
}

#main-left {
    display: grid;
    grid-template-rows: 50px auto 100px;
}

#views-menu {
    border: 1px solid;
}

.simple-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-option h3 {
    text-align: center;
    width: 200px;
    margin: 0px 10px 0px 10px;
    user-select: none;
}

.menu-option:hover {
    background-color: rgb(182, 182, 182);
    cursor: pointer;
    transition: 0.2s;
}

#views {
    border: 1px solid;
}

#views-actions {
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main-right {
    display: grid;
    grid-template-rows: 50px 50px auto 100px;
}

#finances {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stat-resource {
    height: 100%;
    width: 20%;
}

.stat-resource p {
    text-align: right;
    font-weight: bolder;
}

#current-capital {
    color: rgb(87, 111, 247);
}

#hourly-profits {
    color: rgb(0, 184, 61);
}

#hourly-losses {
    color: rgb(255, 88, 88);
}

#shares {
    color: rgb(229, 255, 0);
}

#misions-filter {
    border: 1px solid;
}

#misions-list {
    border: 1px solid;
}

#notifications {
    border: 1px solid;
}